<h1>Listing products</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Sold</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.brand %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>
    <td><%= product.sold %></td>
    <td><%= product.image %></td>
    <td><%= link_to 'Show', product %></td>
    <%= admins_only do %>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= admins_only do %>
<%= link_to 'New Product', new_product_path %>
<% end %>